.SearchBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .search {
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.208);

        input {
            padding: 10px;
            border-radius: 5px;
            border: none;
            font-size: medium;
            background-color: transparent;
        outline: none;

        }

        span {
            font-size: x-large;
        }
    }

    select{
        padding: 10px 5px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        outline: none;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.208);
        cursor: pointer;
        transition: all 0.3s ease;
    }
}